# Actividad 05: Un proyecto completo de Machine Learning

En esta actividad vas a seguir el flujo completo de un proyecto de _Machine Learning_, desde la exploración de las variables, procesamiento del _dataset_, entrenamiento y validación de un modelo, y finalmente, el _fine tunning_ del mismo. Para esto vamos a usar el _dataset_ **Red Wine Quality**, que habla sobre registros de distintos vinos. Lo vamos a importar a continuación.

In [1]:
import pandas as pd

df = pd.read_csv('winequality-red.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [2]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

Como vemos, son 1600 registros de distintas muestras de vino, cada una con ciertas propiedades. La última columna del _dataset_ es la calidad del vino, que vemos que está entre 3 y 8. Lo que se pide en esta actividad es que utilizando la implementación de _Random Forests_ de Scikit Learn hagas un modelo que prediga la calidad del vino. 

Ojo que esta es una tarea de clasificación, es decir, no se espera que la calidad sea un número decimal, sino que tiene que caer dentro de las notas presentes en el _dataset_. Para esta tarea tienes que considerar que la distribución de las calificaciones **no es uniforme**, por lo mismo, tienes que prestar atención a que tu modelo sepa manejar las clases "más raras". Lo que se te pide en esta actividad en concreto es:

1. Explora el _dataset_ de forma profunda. Por ejemplo, se sugiere que hagas visualizaciones de algunas columnas que pueden ser relevantes, que apliques transformaciones/estandarizaciones si es necesario, etc. En base a esto, sugiere cuáles son las columnas más importantes para entrenar el modelo.
2. Realiza una visualización en dos dimensiones del _dataset_. ¿Aporta en algo la visualización?
3. Entrena un modelo de Random Forests y valida los resultados. ¿Qué opinas del desempeño del modelo?
4. Encuentra valores para los hiperparámetros del modelo que mejoren el desempeño y valida los resultados. ¿Crees que el modelo puede mejorar?

En esta actividad vamos a evaluar el resultado como un todo, es decir, no vamos a asignar puntos a partes en particular, sino que esperamos un trabajo lo más profesional posible, que justifique bien cada una de las decisiones tomadas. **Los trabajos que consideremos sobresalientes, los vamos a evaluar con nota 8**.

## Detalles Académicos

La entrega de esta actividad debe ser un archivo comprimido donde se encuentre un Jupyter Notebook, junto a cualquier archivo que estés llamando desde tu código. La fecha de entrega es hasta el jueves 25 de noviembre hasta las 20:00, en el buzón correspondiente de Webcursos.